{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class='card p-5 m-5 card-dark'>

  <div class='item'>First</div>
  <div class='item'>First</div>
  <div class='item'>First</div>
  <p class='item'>Second</p>
  <strong class='item'>Test strong</strong>
  <p class='item'>Third</p>
  <article class='item'>Last</article>
  <article class='item'>Last</article>
  <article class='item'>Last</article>
  <p class='item'>Third</p>
  <p></p>
  <p class='item'>Third</p>
  <p class='item'>Third</p>

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}