.card {
}

.card > p {
  color: yellow;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(21, 255, 0);
  -webkit-text-stroke: 1px rgb(255, 0, 106);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

  /* writing-mode: vertical-lr; */
  text-align: justify;

  /* letter-spacing: 0.4em; */
}

span {
  text-align: left;
  text-transform: uppercase;

  text-decoration: underline solid red;
}

span:hover {
  text-decoration-line: line-through;
  text-decoration-style: dashed;
}

pre {
  tab-size: 5;
}

* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;

  font-style: italic;

  font-display: swap;
}

span {
  font-size: larger;

  font-weight: lighter;

  font-style: oblique;
}

.test {
  display: none;
}

.block {
  display: inline-block;
  background: rgb(199, 190, 190);

  margin: auto;

  width: 100%;

  /* max-width: 600px; */

  padding: 15px;
}
