{{#with data}}
<div class="article_card" id="{{id}}">
    <div class="article_card_image" style="background-image: url({{photo}})"></div>
    {{#if isNew}}
    <span class="article_card_badge">new</span>
    {{/if}}
    <h6 class="article_card_name">{{name}}</h6>
    <p class="article_card_description">{{description}}</p>
    <button class="article_card_button">read all</button>
</div>
{{/with}}