<div class='logo_small'>
  <span>Ad</span>
</div>

<div class="logo_small_line">
  {{#with ad}}
  <p>{{text}}: </p>
  <a href="{{url}}" class="logo_small_link"> {{url}}</a>
  {{/with}}
</div>

<p class="logo_small_text">Users Online: {{userOnline}}</p>